/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, .45);
}


/*============================================
================= Reset =====================
============================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*============================================
========== Utility classes ==================
============================================*/


.flow-content > * + * {
  margin-top: var(--flow-space, --spacer);
}

.flowy-content > * + * {
  margin-top: var(--flowy-space, --spacer);
}

.split > * + * {
  margin-top: 1.75rem;
}

.dark-bg {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900, #000);
}


/*============================================
========== General Styling ==================
============================================*/

body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-neutral-900);
  margin: 0;
}

img {
  max-width: 100%;
  /* height: auto; */
  display: block;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}

/*============================================
============= Typography== ==================
============================================*/


.mastering h2 {
  color: var(--clr-accent-400);
}

.join-now h3 {
  text-align: center;
}

/*============================================
============== Lay Out ======================
============================================*/

section {
  padding: 4rem 0;
}

.container {
  width: 85%;
  max-width: 60rem;
  margin: 0 auto;
}

.hero-flex {
  display: flex;
  flex-direction: column;
}

.hero {
  --flowy-space: 1.25rem;
}

.mastering, 
.join-now {
  --flow-space: 1.75rem;
  --flowy-space: .5rem;
}

.cta {
  --flow-space: 2rem;
  background: url(../images/cta-bg.jpg) center/cover no-repeat;
  text-align: center;
}

.cta .container > * {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}


/* =========== Special Components ========== */

.hero img {
  box-shadow: var(--box-shadow); 
}

.join-now img {
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--box-shadow); 
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
  transition: background-color 650ms 150ms, color 650ms 150ms;
}

.btn:focus,
.btn:hover {
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);
}

.join-now li {
  position: relative;
}

.join-now li::before {
  content: "";
  display: block;
  background-color: var(--clr-accent-400);
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: -10;
  left: 50%;
  transform: translate(-85%, -.5rem);
}


/*============================================
========== Media Query ======================
============================================*/

@media all and (min-width: 640px) {
  .mastering ul > * + * ,
  .join-now ul > * + * {
    margin: 0 0 0 var(--flow-space, --spacer);
  } 
  .split > * + * {
    margin: 0 0 0 1.75rem;
  }
  section {
    padding: 6rem 0;
  }
  .hero-flex {
    flex-direction: row;
  }
  .hero img {
    height: 100%;
    object-fit: cover;
  }
  .join-now li::before {
    left: 0%;
    transform: translate(-.5rem, -.5rem);
  }
  .join-now img {
    margin: 0;
  }
  .join-now h3 {
    text-align: left;
  }
}
