/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.45);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Utility classes */
.flow-content > * + * {
  margin-top: 1.25rem;
}

.flowy-content > * + * {
  margin-top: .5rem;
}
/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-neutral-900);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
  transition: background-color 650ms 150ms, color 650ms 150ms;
}

.btn:focus,
.btn:hover {
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);
}

.container {
  padding: 3rem 2rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem;
}

.hero__img img {
  height: 100%;
  min-height: 250px;
  box-shadow: var(--box-shadow);
}


.mastering {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-900);
}

.mastering h2 {
  color: var(--clr-accent-400);
}

.join-now li {
  position: relative;
}

.join-now li::before {
  content: '';
  /* display: block; */
  background-color: var(--clr-accent-400);
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: -10;
  left: -7px;
  top: -7px;
}

.join-now img {
  box-shadow: var(--box-shadow);
}

.cta {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-900, #171717) url(../images/cta-bg.jpg) center/cover ;
  text-align: center;
}

.cta>* {
  max-width: 800px;
  margin: 0 auto;
}

.gridizer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.75rem;
}

@media all and (min-width: 560px) {
  .container {
    padding: 5rem 6rem;
  } 
}